In [43]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import glob

import plotly.express as px
import plotly.graph_objects as go
pd.set_option('display.max_columns',200)

In [2]:
# Reading the files into glob generator
path = r'D:\MyPortfolio\Predictive Maintenance Of Hydraulics System\archive'
filenames = glob.glob(path + "/*.txt")
# Creating empty dictinary
list1 = []
# Reading data into dataframe and storing into dictionary
for file in filenames:
    name = str(file).split('\\')[-1].split('.')[0]    
    temp_df = pd.read_csv(file, sep='\t',header=None)
    list1.append(temp_df)

## Data Reading & understanding

In [3]:
path = r'D:\MyPortfolio\Predictive Maintenance Of Hydraulics System\archive'
filenames = glob.glob(path + "/*.txt")
filenames

['D:\\MyPortfolio\\Predictive Maintenance Of Hydraulics System\\archive\\CE.txt',
 'D:\\MyPortfolio\\Predictive Maintenance Of Hydraulics System\\archive\\CP.txt',
 'D:\\MyPortfolio\\Predictive Maintenance Of Hydraulics System\\archive\\EPS1.txt',
 'D:\\MyPortfolio\\Predictive Maintenance Of Hydraulics System\\archive\\FS1.txt',
 'D:\\MyPortfolio\\Predictive Maintenance Of Hydraulics System\\archive\\FS2.txt',
 'D:\\MyPortfolio\\Predictive Maintenance Of Hydraulics System\\archive\\profile.txt',
 'D:\\MyPortfolio\\Predictive Maintenance Of Hydraulics System\\archive\\PS1.txt',
 'D:\\MyPortfolio\\Predictive Maintenance Of Hydraulics System\\archive\\PS2.txt',
 'D:\\MyPortfolio\\Predictive Maintenance Of Hydraulics System\\archive\\PS3.txt',
 'D:\\MyPortfolio\\Predictive Maintenance Of Hydraulics System\\archive\\PS4.txt',
 'D:\\MyPortfolio\\Predictive Maintenance Of Hydraulics System\\archive\\PS5.txt',
 'D:\\MyPortfolio\\Predictive Maintenance Of Hydraulics System\\archive\\PS6.txt',
 'D:\\MyPortfolio\\Predictive Maintenance Of Hydraulics System\\archive\\SE.txt',
 'D:\\MyPortfolio\\Predictive Maintenance Of Hydraulics System\\archive\\TS1.txt',
 'D:\\MyPortfolio\\Predictive Maintenance Of Hydraulics System\\archive\\TS2.txt',
 'D:\\MyPortfolio\\Predictive Maintenance Of Hydraulics System\\archive\\TS3.txt',
 'D:\\MyPortfolio\\Predictive Maintenance Of Hydraulics System\\archive\\TS4.txt',
 'D:\\MyPortfolio\\Predictive Maintenance Of Hydraulics System\\archive\\VS1.txt']

In [4]:
a=[]
for i in ["PS1","PS2",'PS3','PS4','PS5','PS6']:
    PS = np.genfromtxt(path + "/"+i+".txt")
    a.append(PS)
ps1,ps2,ps3,ps4,ps5,ps6 = a

In [5]:
ps1.shape

(2205, 6000)

In [6]:
ps1

array([[151.47, 151.45, 151.52, ..., 151.1 , 151.21, 151.19],
       [151.11, 151.12, 151.16, ..., 150.79, 150.8 , 150.86],
       [150.81, 150.79, 150.84, ..., 150.43, 150.54, 150.62],
       ...,
       [151.73, 151.78, 151.84, ..., 151.73, 151.73, 151.83],
       [151.77, 151.77, 151.75, ..., 151.68, 151.71, 151.78],
       [151.83, 151.78, 151.77, ..., 151.73, 151.71, 151.7 ]])

In [7]:
# Creating columns for pressure
# mean, median, max, min, std_devian, variance, kutosis, IQR, range - Strategy
PS1_mean = ps1.mean(axis=1)
PS2_mean = ps2.mean(axis=1)
PS3_mean = ps3.mean(axis=1)
PS4_mean = ps4.mean(axis=1)
PS5_mean = ps5.mean(axis=1)
PS6_mean = ps6.mean(axis=1)

In [8]:
PS1_mean

array([160.67349167, 160.60332   , 160.34772   , ..., 161.19212   ,
       161.20891667, 161.21712833])

In [9]:
# Creating dataframe
df = pd.DataFrame()
df['PS1'] = PS1_mean
df['PS2'] = PS2_mean
df['PS3'] = PS3_mean
df['PS4'] = PS4_mean
df['PS5'] = PS5_mean
df['PS6'] = PS6_mean

In [10]:
df.head()

          PS1         PS2       PS3  PS4       PS5       PS6
0  160.673492  109.466914  1.991475  0.0  9.842169  9.728098
1  160.603320  109.354890  1.976234  0.0  9.635142  9.529488
2  160.347720  109.158845  1.972224  0.0  9.530548  9.427949
3  160.188088  109.064807  1.946576  0.0  9.438827  9.337429
4  160.000472  108.931434  1.922707  0.0  9.358762  9.260636

In [11]:
df.shape

(2205, 6)

In [12]:
eps1=np.genfromtxt(path + "/EPS1.txt")
EPS1_mean = eps1.mean(axis=1)
# Store the array in df
df['EPS1'] = EPS1_mean

In [13]:
df.shape

(2205, 7)

In [14]:
a=[]
for i in ["FS1","FS2"]:
    FS=np.genfromtxt(path + "/"+i+".txt")
    a.append(FS)
fs1,fs2=a

In [15]:
# Strategy
FS1_mean = fs1.mean(axis=1)
FS2_mean = fs2.mean(axis=1)

In [16]:
# Storing it into dataframe
df['FS1_mean'] = FS1_mean
df['FS2_mean'] = FS2_mean
df.shape

(2205, 9)

In [17]:
a=[]
for i in ["TS1","TS2",'TS3','TS4']:
    PS = np.genfromtxt(path + "/"+i+".txt")
    a.append(PS)
ts1,ts2,ts3,ts4 = a

In [18]:
TS1_mean = ts1.mean(axis=1)
TS2_mean = ts2.mean(axis=1)
TS3_mean = ts3.mean(axis=1)
TS4_mean = ts4.mean(axis=1)

In [19]:
df['TS1_mean'] = TS1_mean
df['TS2_mean'] = TS2_mean
df['TS3_mean'] = TS3_mean
df['TS4_mean'] = TS4_mean

In [20]:
df.shape

(2205, 13)

In [21]:
a = []
for i in ['VS1','CE','CP','SE']:
    temp_arr = np.genfromtxt(path + "/"+i+".txt")
    a.append(temp_arr)
vs1,ce,cp,se = a

In [22]:
VS1_mean = vs1.mean(axis=1)
CE_mean = ce.mean(axis=1)
CP_mean = cp.mean(axis=1)
SE_mean = se.mean(axis=1)

In [23]:
df["VS1_mean"] = VS1_mean
df['CE_mean'] = CE_mean
df['CP_mean'] = CP_mean
df["SE_mean"] = SE_mean
df.shape

(2205, 17)

In [24]:
df.head()

,PS1,PS2,PS3,PS4,PS5,PS6,EPS1,FS1_mean,FS2_mean,TS1_mean,TS2_mean,TS3_mean,TS4_mean,VS1_mean,CE_mean,CP_mean,SE_mean
0,160.673492,109.466914,1.991475,0.0,9.842169,9.728098,2538.929167,6.709815,10.304592,35.621983,40.978767,38.471017,31.745250,0.576950,39.601350,1.862750,59.157183
1,160.603320,109.354890,1.976234,0.0,9.635142,9.529488,2531.498900,6.715315,10.403098,36.676967,41.532767,38.978967,34.493867,0.565850,25.786433,1.255550,59.335617
2,160.347720,109.158845,1.972224,0.0,9.530548,9.427949,2519.928000,6.718522,10.366250,37.880800,42.442450,39.631950,35.646150,0.576533,22.218233,1.113217,59.543150
3,160.188088,109.064807,1.946576,0.0,9.438827,9.337429,2511.541633,6.720565,10.302678,38.879050,43.403983,40.403383,36.579467,0.569267,20.459817,1.062150,59.794900
4,160.000472,108.931434,1.922707,0.0,9.358762,9.260636,2503.449500,6.690308,10.237750,39.803917,44.332750,41.310550,37.427900,0.577367,19.787017,1.070467,59.455267

In [31]:
# Reading the target variable
target = np.genfromtxt(path + '/profile.txt')
target_df = pd.DataFrame(target)
target_df.rename(columns={0:"Cooler condition",
                  1:"Valve condition",
                  2:"Internal pump leakage",
                3:'Hydraulic accumulator',
                   4:"Stable Flag"
                  }, inplace=True)
target_df

,Cooler condition,Valve condition,Internal pump leakage,Hydraulic accumulator,Stable Flag
0,3.0,100.0,0.0,130.0,1.0
1,3.0,100.0,0.0,130.0,1.0
2,3.0,100.0,0.0,130.0,1.0
3,3.0,100.0,0.0,130.0,1.0
4,3.0,100.0,0.0,130.0,1.0
...,...,...,...,...,...
2200,100.0,100.0,0.0,90.0,0.0
2201,100.0,100.0,0.0,90.0,0.0
2202,100.0,100.0,0.0,90.0,0.0
2203,100.0,100.0,0.0,90.0,0.0
2204,100.0,100.0,0.0,90.0,0.0

In [36]:
# final dataframe
df = pd.concat([df,target_df],axis=1)
df.head()

,PS1,PS2,PS3,PS4,PS5,PS6,EPS1,FS1_mean,FS2_mean,TS1_mean,TS2_mean,TS3_mean,TS4_mean,VS1_mean,CE_mean,CP_mean,SE_mean,Cooler condition,Valve condition,Internal pump leakage,Hydraulic accumulator,Stable Flag
0,160.673492,109.466914,1.991475,0.0,9.842169,9.728098,2538.929167,6.709815,10.304592,35.621983,40.978767,38.471017,31.745250,0.576950,39.601350,1.862750,59.157183,3.0,100.0,0.0,130.0,1.0
1,160.603320,109.354890,1.976234,0.0,9.635142,9.529488,2531.498900,6.715315,10.403098,36.676967,41.532767,38.978967,34.493867,0.565850,25.786433,1.255550,59.335617,3.0,100.0,0.0,130.0,1.0
2,160.347720,109.158845,1.972224,0.0,9.530548,9.427949,2519.928000,6.718522,10.366250,37.880800,42.442450,39.631950,35.646150,0.576533,22.218233,1.113217,59.543150,3.0,100.0,0.0,130.0,1.0
3,160.188088,109.064807,1.946576,0.0,9.438827,9.337429,2511.541633,6.720565,10.302678,38.879050,43.403983,40.403383,36.579467,0.569267,20.459817,1.062150,59.794900,3.0,100.0,0.0,130.0,1.0
4,160.000472,108.931434,1.922707,0.0,9.358762,9.260636,2503.449500,6.690308,10.237750,39.803917,44.332750,41.310550,37.427900,0.577367,19.787017,1.070467,59.455267,3.0,100.0,0.0,130.0,1.0

In [37]:
df.shape

(2205, 22)

## Exploratory Data Analysis
### Cooler condition - EDA

In [41]:
# Information about the final dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2205 entries, 0 to 2204
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   PS1                    2205 non-null   float64
 1   PS2                    2205 non-null   float64
 2   PS3                    2205 non-null   float64
 3   PS4                    2205 non-null   float64
 4   PS5                    2205 non-null   float64
 5   PS6                    2205 non-null   float64
 6   EPS1                   2205 non-null   float64
 7   FS1_mean               2205 non-null   float64
 8   FS2_mean               2205 non-null   float64
 9   TS1_mean               2205 non-null   float64
 10  TS2_mean               2205 non-null   float64
 11  TS3_mean               2205 non-null   float64
 12  TS4_mean               2205 non-null   float64
 13  VS1_mean               2205 non-null   float64
 14  CE_mean                2205 non-null   float64
 15  CP_mean                2205 non-null   float64
 16  SE_mean                2205 non-null   float64
 17  Cooler condition       2205 non-null   float64
 18  Valve condition        2205 non-null   float64
 19  Internal pump leakage  2205 non-null   float64
 20  Hydraulic accumulator  2205 non-null   float64
 21  Stable Flag            2205 non-null   float64
dtypes: float64(22)
memory usage: 379.1 KB

In [42]:
df.describe()

,PS1,PS2,PS3,PS4,PS5,PS6,EPS1,FS1_mean,FS2_mean,TS1_mean,TS2_mean,TS3_mean,TS4_mean,VS1_mean,CE_mean,CP_mean,SE_mean,Cooler condition,Valve condition,Internal pump leakage,Hydraulic accumulator,Stable Flag
count,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000
mean,160.485315,109.379906,1.753227,2.600266,9.163320,9.079363,2495.509203,6.198549,9.649453,45.424567,50.365979,47.662121,40.735654,0.613315,31.299077,1.808399,55.287900,41.240816,90.693878,0.669388,107.199546,0.342857
std,4.699425,4.986585,0.251902,4.279355,0.576296,0.549589,73.836682,1.032883,0.449246,7.991933,7.396254,7.451888,8.107878,0.060260,11.575330,0.278263,8.960189,42.383143,10.681802,0.817233,16.435848,0.474772
min,155.391547,104.406307,0.840252,0.000000,8.365801,8.321527,2361.747267,2.018572,8.857513,35.313783,40.859400,38.245733,30.390800,0.524367,17.555983,1.062150,18.276617,3.000000,73.000000,0.000000,90.000000,0.000000
25%,158.100195,106.962382,1.729733,0.000000,8.547239,8.487167,2442.933467,6.391670,9.203397,36.237150,41.864183,39.123183,31.272567,0.555100,20.084650,1.550100,56.270183,3.000000,80.000000,0.000000,90.000000,0.000000
50%,158.960895,107.730169,1.779631,0.000000,9.115781,9.031516,2480.926633,6.576673,9.692270,44.836650,49.780583,47.070250,40.429050,0.610183,27.392533,1.739683,58.758150,20.000000,100.000000,0.000000,100.000000,0.000000
75%,161.000735,109.421612,1.932047,3.503266,9.844351,9.729276,2548.211467,6.657508,10.155008,54.104317,58.584467,55.694433,49.409500,0.649850,46.677383,2.148483,59.656900,100.000000,100.000000,1.000000,130.000000,1.000000
max,180.922708,131.589089,2.023398,10.207068,9.978511,9.856591,2740.641000,6.722707,10.403098,57.899283,61.958467,59.423167,53.060417,0.839067,47.903667,2.840100,60.755300,100.000000,100.000000,2.000000,130.000000,1.000000

In [39]:
# Check for duplicate records
df.duplicated().sum()

0

In [40]:
# Check for missing values
df.isnull().sum()

PS1                      0
PS2                      0
PS3                      0
PS4                      0
PS5                      0
PS6                      0
EPS1                     0
FS1_mean                 0
FS2_mean                 0
TS1_mean                 0
TS2_mean                 0
TS3_mean                 0
TS4_mean                 0
VS1_mean                 0
CE_mean                  0
CP_mean                  0
SE_mean                  0
Cooler condition         0
Valve condition          0
Internal pump leakage    0
Hydraulic accumulator    0
Stable Flag              0
dtype: int64

In [38]:
df['Cooler condition'].value_counts()

100.0    741
3.0      732
20.0     732
Name: Cooler condition, dtype: int64

In [47]:
df['Cooler condition'].value_counts(normalize=True)

100.0    0.336054
3.0      0.331973
20.0     0.331973
Name: Cooler condition, dtype: float64

Looking at the cooler condition distribution, It can be observed that more than 33% cycles are working with reduced efficieny and 33% cycles are close to total failure.

### Strategies to go ahead
1. Anomaly detection
2.