In [11]:
import pandas as pd
import numpy as np
import glob
pd.set_option('display.max_columns',200)

In [20]:
# Reading the files into glob generator
path = r'D:\MyPortfolio\Predictive Maintenance Of Hydraulics System\archive'
filenames = glob.glob(path + "/*.txt")
# Creating empty dictinary
list1 = []
# Reading data into dataframe and storing into dictionary
for file in filenames:
    name = str(file).split('\\')[-1].split('.')[0]    
    temp_df_"{}".format(name) = pd.read_csv(file, sep='\t',header=None)
    list1.append()

## Data Reading & understanding

In [22]:
a=[]
for i in [df1[i] = i.mean(axis=1)    ]:
    PS=np.genfromtxt(path + "/"+i+".txt")
    a.append(PS)
ps1,ps2,ps3,ps4,ps5,ps6 = a

In [24]:
ps1

array([[151.47, 151.45, 151.52, ..., 151.1 , 151.21, 151.19],
       [151.11, 151.12, 151.16, ..., 150.79, 150.8 , 150.86],
       [150.81, 150.79, 150.84, ..., 150.43, 150.54, 150.62],
       ...,
       [151.73, 151.78, 151.84, ..., 151.73, 151.73, 151.83],
       [151.77, 151.77, 151.75, ..., 151.68, 151.71, 151.78],
       [151.83, 151.78, 151.77, ..., 151.73, 151.71, 151.7 ]])

In [25]:
# Creating columns for pressure
PS1 = ps1.mean(axis=1)
PS2 = ps2.mean(axis=1)
PS3 = ps3.mean(axis=1)
PS4 = ps4.mean(axis=1)
PS5 = ps5.mean(axis=1)
PS6 = ps6.mean(axis=1)

In [26]:
# Creating dataframe
df = pd.DataFrame()
df['PS1'] = PS1
df['PS2'] = PS2
df['PS3'] = PS3
df['PS4'] = PS4
df['PS5'] = PS5
df['PS6'] = PS6

In [27]:
df.head()

          PS1         PS2       PS3  PS4       PS5       PS6
0  160.673492  109.466914  1.991475  0.0  9.842169  9.728098
1  160.603320  109.354890  1.976234  0.0  9.635142  9.529488
2  160.347720  109.158845  1.972224  0.0  9.530548  9.427949
3  160.188088  109.064807  1.946576  0.0  9.438827  9.337429
4  160.000472  108.931434  1.922707  0.0  9.358762  9.260636

In [28]:
df.shape

(2205, 6)

In [30]:
eps1=np.genfromtxt(path + "/EPS1.txt")
EPS1 = eps1.mean(axis=1)
# Store the array in df
df['EPS1'] = EPS1

In [31]:
df.shape

(2205, 7)

In [40]:
a=[]
for i in ["FS1","FS2"]:
    FS=np.genfromtxt(path + "/"+i+".txt")
    a.append(FS)
fs1,fs2=a